[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/totoro/github/go/max-crs/06-Format-strings/app.go
Type=Link
URL=file:///home/totoro/github/go/max-crs/06-Format-strings/app.go
Icon=text-x-go
